<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>네이버 뉴스 검색 결과</h1>
    <ul>
       <%for(var i=0;i< result.length;i++){%>
        <li># <%=i%> <br>
            <h2 style="color:blue"><a href='<%=result[i].link%>'><%=result[i].title%></a></h2><br>
        <%=result[i].description%>
        <%}   %>
    </li>
        <br>
    </ul>
</body>

</html>
